@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
button,
input {
  font-family: 'Roboto', sans-serif;
}

body {
  max-height: 100vh;
  background-color: hsl(237, 33%, 31%);
  color: hsl(0, 0%, 100%);
}